body {
  font-weight: bold !important;
  color: #373a3c;
  font-weight: 400;
  background: #e9e9e9;
  position: relative;
  /* height: 100%;
  overflow: hidden; */
}

*:focus {
  outline: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #37474f;
  font-weight: 600;
}
.modal {
  z-index: 1072;
}
.modal-backdrop {
  z-index: 1071;
}
.b-brand {
  display: flex;
  align-items: center;
}
.pcoded-header {
  z-index: 1029;
  position: fixed;
  display: flex;
  min-height: 56px;
  padding: 0;
  top: 0;
  background: #fff;
  color: rgba(44, 62, 80, 0.8);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.pcoded-header .m-header {
  width: 235px;
  position: relative;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.pcoded-header .m-header .logo-dark,
.pcoded-header .m-header .logo-thumb {
  display: none;
}
.pcoded-header .input-group .input-group-text,
.pcoded-header a,
.pcoded-header dropdown-toggle {
  color: rgba(44, 62, 80, 0.8);
}

.pcoded-header .input-group .input-group-text:hover,
.pcoded-header a:hover,
.pcoded-header dropdown-toggle:hover {
  color: #2c3e50;
}

.pcoded-header #mobile-header {
  display: none;
}

.pcoded-header .navbar-nav > li {
  line-height: 40px;
  display: inline-block;
  /* padding: 0 12px; */
}

.pcoded-header .navbar-nav > li:last-child {
  padding-right: 25px;
}

.mob-toggler,
.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 56px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
}

.mob-toggler span,
.mobile-menu span {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(44, 62, 80, 0.8);
  transition: 0.3s cubic-bezier(0.97, 0.75, 0.61, 1.84);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.mob-toggler span:after,
.mob-toggler span:before,
.mobile-menu span:after,
.mobile-menu span:before {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  background-color: rgba(44, 62, 80, 0.8);
  transition: 0.3s cubic-bezier(0.97, 0.75, 0.61, 1.84);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.mob-toggler span:after,
.mobile-menu span:after {
  top: 6px;
  width: 70%;
}

.mob-toggler span:before,
.mobile-menu span:before {
  top: -6px;
  width: 40%;
}

.mob-toggler:hover span,
.mobile-menu:hover span {
  background-color: #2c3e50;
}

.mob-toggler:hover span:after,
.mob-toggler:hover span:before,
.mobile-menu:hover span:after,
.mobile-menu:hover span:before {
  background-color: #2c3e50;
  width: 100%;
}

.mob-toggler {
  right: 5px;
  display: none;
}

.pcoded-header:before,
.pcoded-main-container:before {
  content: "";
  transition: all 0.3s ease-in-out;
}

.pcoded-navbar {
  display: block;
  z-index: 1028;
  position: absolute;
  box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
  transition: all 0.3s ease-in-out;
  width: 235px;
  /* height: calc(100% - 56px); */
  margin-top: 56px;
  top: 0;
  background: #2c3e50;
  color: #d0dcda;
}

.pcoded-navbar ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.pcoded-navbar .scroll-div.navbar-content {
  height: 100%;
  background: #2c3e50;
}
.pcoded-navbar .pcoded-inner-navbar {
  flex-direction: column;
}

.pcoded-navbar .pcoded-inner-navbar li {
  position: relative;
  /* direction: rtl; */
}

.pcoded-navbar .pcoded-inner-navbar li > a {
  text-align: left;
  padding: 5px 10px;
  margin: 0 0 5px;
  display: block;
  position: relative;
}

.pcoded-navbar .pcoded-inner-navbar li > a .pcoded-mtext {
  position: relative;
}

.pcoded-navbar .pcoded-inner-navbar li > a > .pcoded-micon {
  font-size: 16px;
  padding: 0;
  margin-right: 5px;
  border-radius: 4px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  height: 30px;
  text-align: center;
  justify-content: center;
}

.pcoded-navbar .pcoded-inner-navbar li > a > .pcoded-micon + .pcoded-mtext {
  position: relative;
  top: 0;
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu > a:after {
  content: "\27A4";
  font-size: 13px;
  border: none;
  position: absolute;
  top: 13px;
  right: 20px;
  transition: 0.3s ease-in-out;
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu.pcoded-trigger > a:after {
  transform: rotate(90deg);
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu {
  display: none;
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu a:after {
  top: 7px;
}

.pcoded-navbar
  .pcoded-inner-navbar
  li.pcoded-hasmenu.pcoded-trigger.active
  > .pcoded-submenu {
  display: block;
}

.pcoded-navbar
  .pcoded-inner-navbar
  li.pcoded-hasmenu.pcoded-trigger.active
  > a {
  position: relative;
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu {
  position: relative;
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li {
  position: relative;
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li > a {
  text-align: left;
  padding: 7px 7px 7px 45px;
  margin: 0;
  display: block;
}

.pcoded-navbar
  .pcoded-inner-navbar
  li.pcoded-hasmenu
  .pcoded-submenu
  li
  > a:before {
}

.pcoded-navbar .pcoded-submenu {
  background: #2c3e50;
  padding: 15px 0;
}

.pcoded-navbar a {
  color: #d0dcda;
  text-decoration: none;
}
.pcoded-navbar .navbar-content,
.pcoded-navbar .navbar-wrapper {
  width: inherit;
  height: 100%;
  position: fixed;
}

.pcoded-navbar.navbar-collapsed {
  width: 70px;
  /* height: calc(100% - 56px); */
  transition: all 0.3s ease-in-out;
}
.pcoded-navbar.navbar-collapsed .navbar-content.ps {
  overflow: visible;
}
.pcoded-navbar.navbar-collapsed .pcoded-inner-navbar > li > a {
  padding: 7px 20px;
}

.pcoded-navbar.navbar-collapsed
  .pcoded-inner-navbar
  > li
  > a
  > .pcoded-micon
  + .pcoded-mtext {
  position: absolute;
  top: 11px;
}

.pcoded-navbar.navbar-collapsed .pcoded-inner-navbar > li > a > .pcoded-mtext {
  transform: rotateY(-90deg);
  transform-origin: 0 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.pcoded-navbar.navbar-collapsed
  .pcoded-inner-navbar
  > li.pcoded-hasmenu
  > a:after {
  right: 12px;
}

.pcoded-navbar.navbar-collapsed
  .pcoded-inner-navbar
  > li.pcoded-hasmenu
  .pcoded-submenu {
  display: none;
}

.pcoded-navbar.navbar-collapsed
  .pcoded-inner-navbar
  > li.pcoded-trigger
  .pcoded-submenu
  li
  a {
  color: transparent;
  white-space: nowrap;
}

.pcoded-navbar.navbar-collapsed
  .pcoded-inner-navbar
  > li.pcoded-trigger
  .pcoded-submenu
  li
  + li
  a {
  border-top: none;
}
.pcoded-navbar.navbar-collapsed ~ .pcoded-main-container {
  margin-left: 70px;
}
.pcoded-navbar.navbar-collapsed:hover {
  width: 235px !important;
}

.pcoded-navbar.navbar-collapsed:hover .pcoded-inner-navbar > li > a {
  direction: rtl;
}
.pcoded-navbar.navbar-collapsed:hover
  .pcoded-inner-navbar
  > li
  > a
  > .pcoded-mtext {
  transform: rotateY(0deg);
  opacity: 1;
  direction: rtl;
}

.pcoded-navbar.navbar-collapsed:hover
  .pcoded-inner-navbar
  > li
  > a
  > .pcoded-mtext:after {
  opacity: 1;
  visibility: visible;
}

.pcoded-navbar.navbar-collapsed:hover
  .pcoded-inner-navbar
  > li.pcoded-hasmenu
  > a:after {
  transform: rotateX(0deg);
}
.pcoded-navbar.navbar-collapsed:hover
  .pcoded-inner-navbar
  > li.pcoded-hasmenu.pcoded-trigger
  > a:after {
  transform: rotateX(0deg) rotate(90deg);
}

.pcoded-navbar.navbar-collapsed:hover
  .pcoded-inner-navbar
  > li.pcoded-trigger
  .pcoded-submenu
  li
  a {
  color: inherit;
}

.pcoded-navbar.navbar-collapsed:hover
  .pcoded-inner-navbar
  > li.pcoded-trigger
  .pcoded-submenu
  .pcoded-submenu
  li
  a:before {
  opacity: 1;
}

.pcoded-navbar.navbar-collapsed:not(:hover) .pcoded-inner-navbar > li > a {
  transition: all 0.3s ease-in-out;
}

.pcoded-navbar.navbar-collapsed:not(:hover)
  .pcoded-inner-navbar
  > li
  > a:after {
  display: none;
}

.pcoded-navbar.navbar-collapsed:not(:hover)
  .pcoded-inner-navbar
  > li.pcoded-trigger.pcoded-hasmenu
  > .pcoded-submenu
  li.active
  > a:before,
.pcoded-navbar.navbar-collapsed:not(:hover)
  .pcoded-inner-navbar
  > li.pcoded-trigger.pcoded-hasmenu
  > .pcoded-submenu
  li.pcoded-trigger
  > a:before,
.pcoded-navbar.navbar-collapsed:not(:hover)
  .pcoded-inner-navbar
  > li.pcoded-trigger.pcoded-hasmenu
  > .pcoded-submenu
  li:hover
  > a:before {
  content: "";
  top: 10px;
  left: 31px;
  /* border-radius: 50%; */
  background: #1abc9c;
  padding: 5px;
  box-shadow: 0 0 0 5px #2c3e50;
  z-index: 6;
}

.pcoded-navbar.navbar-collapsed:not(:hover)
  .pcoded-inner-navbar
  > li.pcoded-trigger.pcoded-hasmenu
  > .pcoded-submenu:before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(70px / 2);
  z-index: 5;
  background: rgba(208, 220, 218, 0.2);
}
.pcoded-navbar .pcoded-inner-navbar li.active > a,
.pcoded-navbar .pcoded-inner-navbar li:focus > a,
.pcoded-navbar .pcoded-inner-navbar li:hover > a {
  color: #1abc9c;
}

.pcoded-navbar .pcoded-inner-navbar > li.active > a,
.pcoded-navbar .pcoded-inner-navbar > li.pcoded-trigger > a {
  background: #1abc9c;
  color: #fff;
}

.pcoded-navbar .pcoded-inner-navbar > .pcoded-menu-caption.active:after,
.pcoded-navbar
  .pcoded-inner-navbar
  > .pcoded-menu-caption.pcoded-trigger:after {
  display: none;
}

.pcoded-navbar.mob-open ~ .pcoded-header:before,
.pcoded-navbar.mob-open ~ .pcoded-main-container:before,
.pcoded-navbar.navbar-collapsed:hover ~ .pcoded-header:before,
.pcoded-navbar.navbar-collapsed:hover ~ .pcoded-main-container:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* ===  scroll bar start  ===== */
.navbar-content {
  position: relative;
}

.ps__rail-y {
  z-index: 5;
}

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background: transparent;
}

.ps__thumb-y {
  background: darkgray;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
  background: #b6b6b6;
}
.pcoded-content {
  position: relative;
  display: block;
  padding: 25px;
}

.pcoded-main-container {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  display: block;
  clear: both;
  float: unset;
  right: 0;
  top: 0;
  margin-left: 235px;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}
.pcoded-header[class*="header-"] .mobile-menu span {
  background-color: rgba(255, 255, 255, 0.8);
}

.pcoded-header[class*="header-"] .mobile-menu span:after,
.pcoded-header[class*="header-"] .mobile-menu span:before {
  background-color: rgba(255, 255, 255, 0.8);
}

.pcoded-header[class*="header-"] .mobile-menu:hover span {
  background-color: #fff;
}

.pcoded-header[class*="header-"] .mobile-menu:hover span:after,
.pcoded-header[class*="header-"] .mobile-menu:hover span:before {
  background-color: #fff;
}
.pcoded-header.header-dark {
  background: #2c3e50;
  color: rgba(255, 255, 255, 0.8);
}

.nav {
  position: relative;
  /* border-bottom: 1px solid #1abc9c; */
  z-index: 1;
}
.table-hover tbody tr:hover {
  background-color: rgba(26, 188, 156, 0.03);
}
div.dt-button-info {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-top: -100px;
  margin-left: -200px;
  background-color: #81eed8;
  color: #1abc9c;
  border: 2px solid #1abc9c;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-align: center;
  z-index: 21;
}

div.dt-button-info h2 {
  padding: 0.5em;
  margin: 0;
  font-weight: normal;
  color: #fff;
  border-bottom: 1px solid #1abc9c;
  background-color: #1abc9c;
}

div.dt-button-info > div {
  padding: 1em;
}

.dt-buttons {
  margin-bottom: 5px;
}
.widget-primary-card,
.flat-card.widget-purple-card {
  border-top: none;
  background-color: #1abc9c;
  color: #fff;
}
.card {
  box-shadow: 0 2px 1px rgb(0 0 0 / 5%);
  margin-bottom: 30px;
  transition: box-shadow 0.2s ease-in-out;
  border-top: 3px solid #8cddcd;
}
.widget-primary-card.flat-card .row-table:first-child,
.flat-card.widget-purple-card .row-table:first-child {
  border-bottom: none;
}
.widget-primary-card h4,
.flat-card.widget-purple-card h4,
.widget-primary-card.flat-card h6,
.flat-card.widget-purple-card h6 {
  color: #fff;
}
.flat-card[class*="widget-"] .row-table {
  display: flex;
}
.flat-card .row-table:first-child {
  border-bottom: 1px solid #ddd;
}
.flat-card .row-table {
  display: table;
  align-items: center;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}
*:focus {
  outline: none;
}
a:hover {
  outline: none;
  text-decoration: none;
}
.dropdown-menu {
  padding: 10px 0;
  font-size: 14px;
  text-align: start;
}
.dropdown-menu > li {
  padding-left: 18px;
  padding-right: 18px;
  margin: 0;
  width: auto;
  border-radius: 0;
}
.dropdown-menu > li > a {
  padding: 5px;
  color: #373a3c;
}
.dropdown-menu > li:active,
.dropdown-menu li:focus,
.dropdown-menu > li:hover,
.dropdown-menu .dropdown-item:focus {
  background: #1abc9c;
  color: #fff;
  box-shadow: 0 0 4px 0 rgba(43, 43, 43, 0.25);
}
.dropdown-menu > li:active > a,
.dropdown-menu > li:focus > a,
.dropdown-menu > li:hover > a {
  background: transparent;
  color: #fff;
}
