<button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-three-dots-vertical"></i>
</button>
<ul class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton1">
    <li class="d-flex align-items-center">
        <i class="bi bi-pencil-square"></i>
        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#Edit_In_Tts_Modal">
            <label>تعديل البيانات</label>
        </a>
    </li>
    <li class="d-flex align-items-center">
        <i class="bi bi-reply-fill"></i>
        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#Resen_To_It_Modal">
            <label>اعاده الجهاز للدعم الفنى</label>
        </a>
    </li>
</ul>